---
import type {CollectionEntry} from 'astro:content'
import ShowRow from './ShowRow.astro'

type Show = CollectionEntry<'shows'> // typeof getCollection('words')[number]

export type Props = {
  shows: Show[]
}

const {shows} = Astro.props
let year = new Date().getFullYear()
---

{
  shows.map((show) => {
    const showYear = show.data.lastDate.getFullYear()
    const yearHeading =
      showYear === year ? (
        ''
      ) : (
        <tr>
          <th colspan="3" class="year">
            <h4>[{showYear}]</h4>
          </th>
        </tr>
      )
    year = showYear

    return (
      <Fragment>
        {yearHeading}
        <ShowRow show={show} />
      </Fragment>
    )
  })
}
